# 指定 npm 仓库镜像地址
registry=http://registry.npmmirror.com
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npmmirror.com/mirrors/electron-builder-binaries/
# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
